@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

.App {
  font-family: "Roboto Mono", sans-serif;
  /* text-align: center; */
  width: 400px;
  margin: 50px;
  border: 5px solid black;
}

/* .card {
  
  border: 1px dashed red;
} */

.card .card-text {
  padding: 30px;
}

.card h2 {
  padding: 0;
  margin: 0;
  /* margin-left: 20px; */
}

.card p {
  padding: 15px 0px;
  margin: 0;
}

.techno-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.techno {
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid gray;
}
