@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");

.App {
  font-family: "Roboto Mono", sans-serif;
  /* text-align: center; */
  width: 400px;
  margin: 50px;
  border: 5px solid black;
}

.intro {
  padding: 20px;
  border: 1px dashed red;
}

.intro h2 {
  margin: 0;
  font-size: 32px;
}

.skill-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill {
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid gray;
}
